<div class="wrapper">
    <div class="title">
        <span class="display-6">Job candidates:</span>
        <button mat-icon-button (click)="close()">
            <span class='material-icons'>close</span>
        </button>
    </div>
    <hr>
    <mat-list>
        <p *ngIf="applicants.length == 0"> No applications yet...</p>
        <mat-list-item matRipple *ngFor="let user of applicants; ; let i = index">
            <div class="applicant">
                <div class="main" routerLink="/user/{{user._id}}" (click)="userProfile()">
                    <img class="profile-pic" class="profile-pic" src="data:image/png;base64,{{user.image}}"
                        alt="profile picture">
                    <div class="info">
                        <div class="info__name">{{user.name}}</div>
                        <div *ngIf="user.headline" class="info__headline">{{user.headline}}</div>
                    </div>
                </div>
                <div class="actions">
                    <button mat-icon-button color="primary"
                        (click)="acceptOffer(jobId, applicationIds[i])"><mat-icon>check</mat-icon></button>
                    <button mat-icon-button color="secondary"
                        (click)="declineOffer(jobId, applicationIds[i], i)">❌</button>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>