@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "../home/home.component";
.profile-pic {
  width: 45px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container-max-width {
  max-width: calc(100vw - 10px);
}
.container {
  padding: 0;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
}
.chat-container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.chat-header {
  background: rgba(48, 119, 122, 0.9);
  backdrop-filter: blur(5px);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  &.isHandset {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  position: relative;
  height: calc(100vh - 64.5px);
  @media (max-width: 600px) {
    & {
      height: calc(100vh - 105px);
    }
  }
  max-height: 100vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(48, 119, 122, 0.267);
  &.isHandset {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  display: flex;
}

.chat-sidebar {
  position: relative;
  flex: 0.4;
  background: rgb(48 120 122 / 60%);
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  overflow-y: auto;
  transition: all 0.3s;
  &.isHandset {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #474747;
    color: #e6e9ff;
    white-space: nowrap;
    font-weight: 500;
  }
  & h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }

  & h3 {
    margin-bottom: 15px;
  }

  // & ul li:hover {
  //   background-color: rgb(107, 116, 170);
  // }
}

.userSearch {
  &--border {
    display: block;
    transform: translateY(10px);
    height: 5px;
    background-color: rgb(48, 120, 122);
  }
}

.contacts {
  position: relative;
  top: 16px;
  width: 100%;
  padding: 0;
}
.contact {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 40px;
  margin-bottom: 10px;
  background: rgba(48, 120, 122, 0.6);
  cursor: pointer;
  .online-indicator {
    position: absolute;
    right: 5%;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #0fcc45;
    border-radius: 50%;

    .blink {
      display: block;
      width: 15px;
      height: 15px;

      background-color: #0fcc45;
      opacity: 0.7;
      border-radius: 50%;

      animation: blink 1s linear infinite;
    }
    @keyframes blink {
      100% {
        transform: scale(2, 2);
        opacity: 0;
      }
    }
  }
  &:hover {
    background: rgba(48, 119, 122, 0.356);
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &--name {
      // position: relative;
      // top: 3px;
      // margin-bottom: 5px;
      // left: 70px;
      color: inherit;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    &--haedline {
      position: relative;
      top: -3px;
      // margin-bottom: 5px;
      // left: 70px;
      color: rgb(255, 255, 255);
      font-weight: 200;
      text-transform: capitalize;
    }
  }

  &__lastMsg {
    transform: translateY(13px);
    color: #313131;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.unread {
    // background-color: rgba(112, 181, 249, 0.2);
    color: rgb(255, 183, 0);
    &::after {
      content: "";
      position: absolute;
      left: 15px;
      bottom: 50%;
      transform: translateY(50%);
      width: 8px;
      height: 8px;
      border-radius: 50px;
      background-color: rgb(255, 183, 0);
    }
    &:hover {
      background-color: rgb(15 42 68 / 20%);
    }
  }
}
.users {
  position: relative;
  top: 16px;
  width: 100%;
  padding: 0;
}
.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgba(233, 233, 233, 0.336);
  }
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0.6;
  &-guideMsg {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -70%);
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #474747;
    color: #e6e9ff;
    white-space: nowrap;
    font-weight: 500;
  }
  & .toUser {
    display: flex;
    align-items: center;
    height: 67px;
    line-height: 1;
    padding: 10px;
    background-color: rgb(48, 120, 122);
    backdrop-filter: blur(5px);
    color: #e6e9ff;
    text-transform: capitalize;
    & > a {
      color: #e6e9ff;
    }
    & button {
      border: none;
      background-color: transparent;
      & svg {
        fill: #ffffff;
      }
      &:hover svg {
        fill: goldenrod;
      }
    }
    & picture {
      display: none;
    }
    & .selected_contact {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      .nameWrapper {
        display: flex;
        flex-direction: column;
        .name {
          height: fit-content;
          font-size: 2.25rem;
          font-weight: 500;
          align-self: center;
          @media (width <= 600px) {
            font-size: 1.7rem;
          }
        }
        .meta {
          font-size: 1rem;
          color: #c0c0c0;
        }
      }
      &:hover > * {
        color: #ffe675;
      }
      @media (width <= 600px) {
        font-size: 1.5rem;
        // line-height: 1.5;
      }
    }
    & .delete-chat {
      position: absolute;
      right: 10px;
      & span {
        font-size: 2rem;
      }
      &:hover {
        color: #ffe675;
      }
    }
  }
}
.delChat {
  color: #940000;
}
::ng-deep .cdk-overlay-pane {
  @media (width <= 600px) {
    margin-bottom: 52px !important;
  }
}
::ng-deep .mat-snack-bar-container {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.chat-messages {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding: 20px;
  // max-height: 700px;
  overflow-y: auto;
  scroll-behavior: smooth;
  background: rgba(48, 120, 122, 0.6);
  backdrop-filter: blur(5px);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chat-messages .message {
  align-self: flex-start;
  position: relative;
  // min-width: auto;
  // max-width: 500px;
  // word-wrap: break-word;
  padding: 10px 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  margin-bottom: 10px;
  background-color: #e6e9ff;
  border-radius: 20px 20px 20px 0px;
}
.chat-messages .message-sent {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: flex-end;
  position: relative;
  // min-width: auto;
  // max-width: 250px;
  // word-wrap: break-word;
  padding: 10px 10px 7px 15px;
  margin-bottom: 10px;
  background-color: #ffe675;
  border-radius: 25px 25px 0px 25px;
}

.chat-messages .message .text,
.chat-messages .message-sent .text {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
  font-size: 14px;
  &__meta {
    // align-self: flex-end;
    line-height: 1.3;
    font-size: 15px;
    color: #313131;
    opacity: 0.8;
    pointer-events: none;
    user-select: none;
  }
  &__msg {
    // align-self: flex-end;
    max-width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}

.chat-form-container {
  padding: 0px;
  background-color: rgb(48, 120, 122);
  .btn {
    line-height: 1;
    & > mat-icon {
      font-size: 30px;
      color: #b1b1b1;
      width: 30px;
      height: 27px;
      &:hover {
        color: white;
      }
    }
  }
}

.chat-form-container form {
  display: flex;
}

.msgBox {
  font-size: 20px;
  padding: 5px;
  height: 50px;
  flex: 1;
  border: none;
  background-color: transparent;
  color: white;
  transition: all 0.2s;
  &::placeholder {
    color: rgb(0, 58, 59);
  }
}
.searchInput {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  background-color: rgb(94, 138, 139);
  border: none;
  transition: all 0.2s;
  &::placeholder {
    color: #3f3f3f;
  }
}
.form-control:not(.msgBox) {
  &:focus {
    border: none;
    box-shadow: none;
    background-color: #dde2ff;
  }
}

#uploadResume {
  position: relative;
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  & > span:first-child {
    color: #b1b1b1;
    font-size: 30px;
    rotate: -45deg;
    user-select: none;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      color: white;
    }
  }
  & > span:last-child {
    position: absolute;
    transform: translate(0%, 150%);
    opacity: 0;
    transition: all 0.5s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &.success {
    & > span:first-child {
      opacity: 0;
      transform: translateZ(100%);
    }
    & > span:last-child {
      transform: translate(0%, 0%);
      opacity: 1;
      font-size: 40px;
      color: white;
    }
  }
}

#attach_file {
  color: inherit;
  .file {
    display: flex;
    align-items: center;
    gap: 7px;

    &__icon {
      background-color: #7386ff;
      padding: 10px;
      border-radius: 50px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      color: inherit;
      line-height: 1.2;
      &--name {
        font-weight: bold;
      }
      &--size {
        font-size: medium;
        color: #313131;
      }
    }
  }
}
.context-menu {
  position: absolute;
  background-color: #bbc5ce;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgb(192, 192, 192);
}
.flex1 {
  flex: 1;
}
.flex0 {
  flex: 0;
  width: 0;
}
