<div class="title">
    <span class="display-6">Edit info...</span>
    <button mat-icon-button (click)="close()">
        <span class='material-icons'>close</span>
    </button>
</div>
<form class="form">
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input name="name" matInput type="text" [(ngModel)]="body.name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input name="email" type="email" matInput [(ngModel)]="body.email" placeholder="Ex. pat@example.com"
            disabled="true">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Headline</mat-label>
        <input name="headline" matInput type="text" [(ngModel)]="body.headline">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>industry</mat-label>
        <input name="industry" matInput type="text" [(ngModel)]="body.industry">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Skills</mat-label>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let skill of body.skills; let i = index" (removed)="remove(skill, i)">
                {{skill}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="New skill..." [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
    </mat-form-field>
    <div class="form-field">
        <ckeditor matInput id="about" [editor]="Editor" [config]="config" name="about" [(ngModel)]="body.about">
        </ckeditor>
        <div class="field--underline"></div>
    </div>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Location</mat-label>
        <input name="location" matInput type="text" [(ngModel)]="body.location!.address">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>Telephone</mat-label>
        <input name="phone" type="tel" [(ngModel)]="body.phone" matInput placeholder="5555-555-1234">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" (click)="save()">Save</button>
</form>