p {
  margin: 0%;
}
.user {
  cursor: pointer;
}
.container {
  // height: calc(100vh - 105px);
  height: 100vh;
  margin-top: 64px;
  overflow-y: auto;
  padding-inline: 30px;
  padding-bottom: 5rem;
  max-width: 100vw;
  @media (width <= 770px) {
    & {
      margin-top: 51px;
    }
  }
  @media (max-width: 600px) {
    & {
      height: calc(100vh - 105px);
      padding-inline: 0px;
      margin-top: 56px;
      overflow-y: auto;
    }
  }
}
.slide-out {
  transform: translateX(-100%);
  display: none;
  transition: all 0.5s ease-in-out;
}
form {
  position: relative;
}
.pic-wrapper {
  @media (max-width: 600px) {
    & {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .pic {
      margin-left: 0;
    }
  }
}
.pic {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: -100px;
  margin-left: 20px;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  z-index: 50;
  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
    pointer-events: none;
  }
  &:hover #uploadImg {
    transform: translateY(2px);
  }
}
.head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  @media (max-width: 600px) {
    & {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 1rem;
      margin-top: 40px;
      margin-left: 0px;
    }
  }
  .actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: -2rem;
    & #resume:not(.sm) {
      height: 40px;
      background-color: #3f51b5;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      color: white;
      border-radius: 25px;
      font-size: 1.5rem;
      &:hover {
        background-color: white;
        color: #3f51b5;
      }
    }
    & .editProfile {
      &:hover {
        background-color: white;
        color: #3f51b5;
      }
    }
    & .sendMsg {
      border-radius: 25px;
      font-size: 1.3rem;
      height: 40px;
      & span {
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        line-height: 1;
      }
      &:hover {
        background-color: white;
        color: #3f51b5;
      }
    }
    #uploadResume {
      position: relative;
      display: flex;
      width: 170px;
      height: 40px;
      align-items: center;
      justify-content: center;
      background-color: #3f51b5;
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
      border-radius: 50px;
      overflow: hidden;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        background-color: white;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
          0px 6px 10px 0px rgba(0, 0, 0, 0.14),
          0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        color: #3f51b5;
      }
      & > span:first-of-type {
        position: absolute;
        transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
        white-space: nowrap;
      }
      & > span:last-of-type {
        position: absolute;
        transform: translate(0%, 150%);
        opacity: 0;
        transition: all 0.5s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.success {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background-color: #3f51b5;
        & > span:first-of-type {
          opacity: 0;
          transform: translateZ(100%);
        }
        & > span:last-of-type {
          transform: translate(2%, 2%);
          opacity: 1;
          font-size: 32px;
          color: white;
        }
      }
    }
  }
}
.headline {
  margin-left: 20px;
  max-width: 60%;
  @media (max-width: 600px) {
    & {
      width: fit-content;
      margin: auto;
      text-align: center;
    }
  }
}
#upload,
#bgupload {
  display: none;
}

.bgPic {
  position: relative;
  overflow: hidden;
  height: 250px;
  transform: translateY(1rem);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  & img {
    user-select: none;
    pointer-events: none;
  }
  &.isHandset {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transform: translateY(0);
  }
  z-index: 1;
  // &:hover .imgOptions{
  //   transform: translateX(0px);
  // }
  & .imgOptions {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    transition: all 0.3s;

    &__icon {
      width: 50px;
      aspect-ratio: 1/1;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.445);
      backdrop-filter: blur(7px);
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      color: rgb(0, 0, 0);
      transition: all 0.2s;
      cursor: pointer;
      & svg {
        transform: translate(10px, 10px);
      }
      &:hover,
      &[aria-expanded="true"] {
        background-color: rgba(87, 87, 87, 0.445);
        backdrop-filter: blur(7px);
        color: white;
      }
    }
  }
}

#background-pic {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#uploadImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.767);
  color: #2238b3;
  font-weight: 500;
  text-align: center;
  padding: 0px 40px 5px 40px;
  transform: translateY(55px);
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: rgb(0, 0, 0);
  }
  & svg {
    vertical-align: top;
  }
}

.body {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
  .card {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    padding: 20px;
  }
  &__left {
    flex-grow: 1;
  }
  &__right {
    align-self: flex-start;
    flex-shrink: 0;
    font-size: 1.2rem;
    & .material-icons {
      transform: translateY(4px);
      font-size: 1.188rem;
      color: rgb(99, 99, 99);
      // font-size: 16px;
    }
    & .email {
      padding-left: 5px;
      color: inherit;
      text-decoration: none;
      &:hover {
        color: #3f51b5;
        text-decoration: underline;
      }
    }
    & .skills {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (width > 770px) {
        max-width: 260px;
      }
      & .chip {
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }
  @media (max-width: 770px) {
    & {
      flex-direction: column-reverse;
      &__right {
        width: 100%;
      }
    }
  }
}

.edit_wrapper {
  z-index: 105;
  & .edit_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #001e00;
    z-index: 110;
    overflow: hidden;
    opacity: 0;

    &.backdrop_fadeIn {
      animation: fadeIn 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    to {
      opacity: 0.3;
    }
  }
  & > .edit_slider {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    background-color: white;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    z-index: 120;
    padding: 10px;
    &.slideIn {
      transform: translateY(100%);
      animation: slideIntoView 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    &.slideOut {
      transform: translateY(0%);
      animation: slideout 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    @keyframes slideIntoView {
      to {
        transform: translateY(0%);
      }
    }
    @keyframes slideout {
      to {
        transform: translateY(100%);
      }
    }
  }
}
