<div class="container">
    <h3 *ngIf="posts.length == 0">You haven't posted any jobs yet!</h3>
    <div class="content" *ngIf="posts.length != 0">
        <ul class="content__posts" >
            <li *ngFor="let post of posts; let i = index">
                <div (click)="showDetails($event, i)" class="card">
                    <div class="card--options">
                        <button mat-icon-button [matMenuTriggerFor]="menu"><span class="material-symbols-outlined">more_vert</span></button>
                        <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
                            <button mat-menu-item (click)="updatePost(post._id, i)">
                                <span class="material-symbols-outlined">edit</span>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="delJob(post._id, i)">
                                <span class="material-symbols-outlined">delete</span>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="card-body">
                        <h5 class="title">{{post.title}}</h5>
                        <p>{{post.company}}</p>
                        <p>{{post.location}}</p>
                        <div class="detail-row">
                            <p class="detail-row--item">{{currencyFormat(post.salary)}}</p>
                            <p class="detail-row--item">{{post.type}}</p>
                            <p class="detail-row--item" *ngIf="post.remote">Remote</p>
                        </div>
                        <p class="post-date">{{formatDate(post.date)}}</p>
                        <button title="Applications" class="abs-pos" mat-mini-fab (click)="applicants(post.applictions, post._id)"><mat-icon>group</mat-icon></button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="content__details" [innerHTML]="details"></div>
    </div>
</div>