<div class="mask d-flex align-items-center h-100">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div *ngIf="loading" class="dot-spinner">
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                    <div class="dot-spinner__dot"></div>
                </div>
                <div *ngIf="!loading" class="card">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                        <form [formGroup]='signupForm' (ngSubmit)="signup(signupForm.value)">
                            <div class="form-outline mb-4">
                                <input type="text" [class.active]="signupForm.value.name !=''"
                                (ngModelChange)="missingName = false"
                                    class="form-control form-control-lg" formControlName="name" required minlength="3"
                                    type="text" id="name" />
                                <label class="form-label" for="name">Your Name</label>
                                <div class="message d-flex">
                                    <p
                                        *ngIf="signupForm.controls.name.errors?.['minlength'] && !signupForm.controls.name.untouched">
                                        min-length 3
                                    </p>
                                    <p class="message" *ngIf="missingName">{{nameMsg}}</p>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input [class.active]="signupForm.value.email !=''" class="form-control form-control-lg"
                                    (ngModelChange)="invalidEmail = false" formControlName="email" required email
                                    type="email" id="email" />
                                <label class="form-label" for="email">Your Email</label>
                                <div class="message d-flex">
                                    <p *ngIf="!signupForm.controls.email.untouched && signupForm.value.email == ''">Enter you email</p>
                                    <p class="message" *ngIf="invalidEmail">{{emailMsg}}</p>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input [class.active]="signupForm.value.password !=''" [type]="pass_type" id="password"
                                    class="form-control form-control-lg" formControlName="password" required
                                    (ngModelChange)="invalidPass = false" minlength="10" />
                                <label class="form-label" for="password">Password</label>
                                <a *ngIf="signupForm.value.password != ''" class="showPass fw-bold text-body"
                                    (click)="showPass($event)" [innerHTML]="pass_state"></a>
                                <div class="message d-flex">
                                    <p
                                        *ngIf="signupForm.controls.password.errors?.['minlength'] && !signupForm.controls.password.untouched">
                                        min-length 10
                                    </p>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input [class.active]="signupForm.value.confirm_password !=''" [type]="pass_type"
                                    id="confirm_password" class="form-control form-control-lg"
                                    formControlName="confirm_password" required minlength="10" />
                                <label class="form-label" for="confirm_password">Confirm password</label>
                                <a *ngIf="signupForm.value.confirm_password != ''" class="showPass fw-bold text-body"
                                    (click)="showPass($event)" [innerHTML]="pass_state"></a>
                                <div class="message d-flex">
                                    <p *ngIf="invalidPass">{{passMsg}}</p>
                                    <p *ngIf="invalidPasswordConfirm && !invalidPass">{{passwordConfirm}}</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/login"
                                    class="fw-bold text-body"><u>Login here</u></a></p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>