<div class="container h-100" [class.container-max-width]="(isHandsetMd$ | async)">
    <div class="content" style="opacity: 1; transform: translateY(0px);">
        <ul class="content__posts" [class.flex1]="(isHandset$ | async)">
            <li *ngFor="let post of posts; let i = index">
                <div (click)="showDetails(post._id, i)" class="card" [class.selected]="index == i && !(isHandset$ | async)">
                    <div class="card-body">
                        <h5 class="title">{{post.title}}</h5>
                        <p>{{post.company}}</p>
                        <p>{{post.location.address}}</p>
                        <div class="detail-row">
                            <p class="detail-row--item">{{currencyFormat(post.salary)}}</p>
                            <p class="detail-row--item">{{post.type}}</p>
                            <p class="detail-row--item" *ngIf="post.remote">Remote</p>
                        </div>
                        <p class="post-date">{{post.date | date:'short'}}</p>
                    </div>
                </div>
            </li>
            <div *ngIf="loading" class="loading">
                <span class="effect loading__head"></span>
                <span class="effect loading__body"></span>
            </div>
        </ul>
        
        <div *ngIf="posts.length != 0 && !(isHandset$ | async)" class="content__details">
            <div *ngIf="loadingPost" class="loading">
                <span class="effect loading__head"></span>
                <span class="effect loading__body"></span>
            </div>
            <app-job-details *ngIf="!loadingPost" (unSave)="unSave($event)" [job]="job"></app-job-details>
        </div>
        
    </div>
</div>
