.deleteChat_popup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  & p {
    color: rgb(21, 107, 110);
    margin: 0%;
    font-size: 1.15em;
    font-weight: 500;
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
  &--actions {
    justify-content: flex-end;
    gap: 5px;
    margin-top: 20px;
  }
}
