<div class="container h-100" [class.container-max-width]="(isHandsetMd$ | async)">
    <div class="home_header" style="opacity: 1; transform: translateY(0px);">
        <div *ngIf="search_Warning" class="inputsEmpty">
            <p><svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor"
                    viewBox="0 0 24 24" aria-hidden="true" class="css-1xqhio eac13zx0">
                    <path fill-rule="evenodd"
                        d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm1 14.75a.25.25 0 01-.25.25h-1.5a.25.25 0 01-.25-.25v-1.5a.25.25 0 01.25-.25h1.5a.25.25 0 01.25.25v1.5zm0-4a.25.25 0 01-.25.25h-1.5a.25.25 0 01-.25-.25v-5.5a.25.25 0 01.25-.25h1.5a.25.25 0 01.25.25v5.5z"
                        clip-rule="evenodd"></path>
                </svg>Enter a job title or location to start a search</p>
        </div>
        <form class="search-form">
            <div class="search-form--main">
                <mat-form-field appearance="outline" class="form-field">
                    <span matPrefix><label for="what" class="search-form-label">What</label></span>
                    <input name="search_terms" id="what" placeholder="job title, keywords" matInput type="text"
                        [(ngModel)]="search.search_terms">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field">
                    <span matPrefix><label for="where" class="search-form-label">Where</label></span>
                    <input name="Location" id="where" placeholder="Country or City" type="text" matInput
                        [(ngModel)]="search.location">
                    <mat-icon matSuffix>map</mat-icon>
                </mat-form-field>
            </div>

            <!-- <div class="search-form--feature">
                <mat-form-field appearance="outline">
                    <mat-label>Radius</mat-label>
                    <input matInput type="number" name="Radius" [(ngModel)]="search.radius" placeholder="o.o" [disabled]="!loggedIn()">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Unit</mat-label>
                    <mat-select name="unit" [(ngModel)]="search.unit" [disabled]="!loggedIn()">
                        <mat-option value="kilometre">kilometre</mat-option>
                        <mat-option value="mile">mile</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <button type="submit" routerLink="/jobs" [queryParams]="{q: search.search_terms.trim(), i:search.location.trim(), radius: this.search.radius,
                unit: this.search.unit}" mat-raised-button color="primary" class="search-form-submit">Find
                Jobs</button>

        </form>
    </div>

    <div class="content" style="opacity: 1; transform: translateY(0px);">
        <ul class="content__posts" [class.flex1]="(isHandset$ | async)">
            <div class="sortBox">
                <p>Sort by:</p>
                <a routerLink="/jobs" [ngClass]="{'active': !sortByDate}"
                    [queryParams]="{q: search.search_terms, i:search.location}">relevance</a>
                <span>-</span>
                <a routerLink="/jobs" [ngClass]="{'active': sortByDate}" (click)="sort($event)"> date</a>
            </div>
            <li *ngFor="let post of posts; let i = index">
                <div (click)="showDetails(post._id, i)" class="card" [class.selected]="index == i && !(isHandset$ | async)">
                    <div class="card-body">
                        <h5 class="title">{{post.title}}</h5>
                        <p>{{post.company}}</p>
                        <p>{{post.location?.address}}</p>
                        <div class="detail-row">
                            <p class="detail-row--item">{{currencyFormat(post.salary)}}</p>
                            <p class="detail-row--item">{{post.type}}</p>
                            <p class="detail-row--item" *ngIf="post.remote">Remote</p>
                        </div>
                        <p class="post-date">{{post.date | date:'short'}}</p>
                    </div>
                </div>
            </li>
        </ul>

        <div *ngIf="posts.length != 0 && !(isHandset$ | async)" class="content__details">
            <app-job-details [job]="job"></app-job-details>
        </div>
    </div>
    <!-- <mat-list *ngIf="!searcing" class="paginate">
        <mat-list-item><mat-label><b>Pages</b></mat-label></mat-list-item>
        <mat-list-item *ngFor="let page of pages"><button mat-icon-button color="accent" (click)="pageUp(page)"><b>{{page}}</b></button></mat-list-item>
    </mat-list> -->
</div>